@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(36,0,0);
    background: linear-gradient(180deg, rgba(36,0,0,1) 0%, rgba(121,11,9,1) 35%, rgba(255,222,0,1) 100%);
    background-attachment: fixed;
}

.welcome-user {
    font-family: 'Golos Text', sans-serif;
    word-break: break-all;
}

.email-input {
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    padding: 2px;
}

.password-input {
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    padding: 2px;
}
